<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jovian careers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <style>
      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
    <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
    <img src="{{ url_for('static', filename='banner.jpeg') }}" class="img-fluid" id="banner" alt="Jovian careers banner">
    
    <h2 class="text-center mt-2 mb-4">About Jovian</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit vitae erat et semper. Curabitur quis pulvinar lectus. Curabitur semper mi et est blandit, sit amet molestie tellus tristique. Morbi volutpat nunc ut euismod ultrices. Sed eget aliquam magna, a sollicitudin lorem. Suspendisse vitae rutrum sapien. Maecenas vitae sodales velit. Morbi tristique pharetra aliquet. Nullam vestibulum turpis diam, at mattis felis posuere sit amet. Sed feugiat fringilla nisl, in bibendum lacus blandit vitae. Nullam mollis enim dui. Donec nec nisi ipsum. Phasellus fermentum dui vitae sollicitudin euismod. Suspendisse potenti. Praesent iaculis in libero ac malesuada. Morbi a pellentesque felis, sit amet laoreet libero.</p>
    
    <h2 class = "text-center mt-2 mb-4">Open Positions</h2>
    <div>
        {% for job in jobs %}
           {% include 'jobitems.html' %}
        {% endfor %}
    </div>
    <div class="text-center mt-2 mb-4" >
      
    <button class="btn btn-primary btn-lg">Contact Us</button>
      <p class="mt-4">Copyright &copy;2025, Jovian Careers, Inc. All rights reserved.</p>
    </div>
    </div>
  </body>
</html>