<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jovian careers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <style>
      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
        margin-bottom: 16px;

        
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <img src="https://52eec0e0-845c-494a-a72e-2a0c963ca269-00-2iouqm11c6k98.spock.replit.dev/static/banner.jpeg" class="img-fluid" id="banner" alt="Banner image">
    <div class="container">
    <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
        
    <div class="row" style="margin-bottom:16px;">
      <div class="col-md-6">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit vitae erat et semper. Curabitur quis pulvinar lectus. Curabitur semper mi et est blandit, sit amet molestie tellus tristique. Morbi volutpat nunc ut euismod ultrices. </p>
      </div>
      <div class="d-none d-md-block col-md-6">
      <img src="https://52eec0e0-845c-494a-a72e-2a0c963ca269-00-2iouqm11c6k98.spock.replit.dev/static/people.jpeg" style="height:250px;border-radius:4px;">
       </div>
    </div>
    <h2 class = "text-center mt-2 mb-4">Open Positions</h2>
    <div>
        {% for job in jobs %}
           {% include 'jobitems.html' %}
        {% endfor %}
    </div>
    <div class="text-center mt-2 mb-4" >
      
    <a class="btn btn-primary btn-lg" href="mailto:hello@jovian.ai?subject=Question%20for%20job%20opening&body=My%20name%3A%20%3Cyour%20name%20here%3EMy%20Question%3A%20%3Cyour%20questions%20here%3E">Contact Us</a>
    </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
